@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 15px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}
#main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.listing {
    padding: 0 2rem;
}
.listing__iner {
    margin: auto;
    max-width: 154rem;
    padding: 0 2rem;
}
.listing__grid-aside {
    border: none;
    float: left;
}
@media only screen and (min-width: 768px) {
    .listing__grid-aside {
        border-right: 1px solid #ededed;
        overflow: visible;
        width: 25%;
    }
}
.listing__grid-main {
    float: right;
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .listing__grid-main {
        width: 75%;
    }
}
.filter {
    background: #fff;
    border-right: 1px solid #ededed;
    color: #000;
    overscroll-behavior: contain;
    position: relative;
}
.filter-item {
    border-bottom: 1px solid #ededed;
    padding: 2rem 2rem 2rem 3rem;
}
.filter-panel {
    border-bottom: 0;
    padding: 0;
}
.panel__header {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-family: inherit;
    font-size: 14px;
    justify-content: flex-start;
    user-select: none;
}
.filter-panel__title {
    font-size: 1.3rem;
}
.panel__content {
    margin-top: 1.2rem;
    display: flex;
    flex-wrap: wrap;
}
.filter-panel__content {
    width: 100%;
}
.filter-range {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}
.filter-range__label {
    font-size: 1.4rem;
    position: relative;
}
.range-input {
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    color: #000;
    font-size: 1.4rem;
    height: 4rem;
    padding: 0 15% 0 3.5rem;
    transition: 0.1s ease-in-out;
    width: 100%;
}
.filter-range__label-text {
    left: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.filter-tags__iner {
    max-height: 50rem;
    overflow: auto;
}

.tag {
    align-items: center;
    background-color: #fff;
    border-radius: 3px;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.4rem;
    font-weight: 400;
    justify-content: space-between;
    margin: 0 1rem 1.5rem 0;
    min-height: 2.4rem;
    padding: 0.5rem 4rem 0.5rem 1rem;
    position: relative;
    transition: 0.1s ease-in-out;
}
.tag:hover {
    color: rgba(0, 0, 0, 0.692);
}
.tag-gray {
    background: #f7f7f7;
}
.tag__name {
    line-height: 2rem;
    position: relative;
    text-transform: capitalize;
}
.tag__count {
    color: #999;
    font-size: 1.2rem;
    position: absolute;
    right: 1rem;
    top: 53%;
    transform: translateY(-50%);
    transition: color 0.2s ease-in-out;
}
.listing__generated-container {
    background-color: #fff;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
    .listing__generated-container {
        margin-bottom: 2rem;
    }
}
.product-block {
    background-color: #fff;
    box-shadow: 0 0 0 1px #ededed;
    padding: 20px 0;
    position: relative;
    width: 25%;
}
@media only screen and (min-width: 768px) and (min-width: 1200px) and (max-width: 1570px) {
    .product-block {
        width: 33.3333%;
    }
}
@media only screen and (max-width: 1199px) {
    .product-block {
        width: 50%;
    }
}
@media only screen and (min-width: 768px) {
    .product-block {
        float: left;
        height: 37.2rem;
        padding: 0.8rem 2.4rem 2.2rem;
        /* width: 25%; */
    }
}
@media only screen and (max-width: 768px) {
    .product-block {
        width: 25%;
    }
}
.product-block:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.product-block__bg {
    background: #fff;
    border: 1px solid transparent;
    bottom: 0;
    /* display: none; */
    left: 0;
    position: absolute;
    right: 1px;
    top: 0;
    box-shadow: 0 0 0 transparent;
    display: block;
    transition: all 0.2s ease;
}
@media only screen and (min-width: 768px) {
    .product-block__bg {
        box-shadow: 0 0 0 transparent;
        display: block;
        transition: all 0.2s ease;
    }
}

@media only screen and (min-width: 768px) {
    .product-block:hover .product-block__bg {
        border: 1px solid #ededed;
        bottom: -1rem;
        box-shadow: 0 0 5px rgb(0 0 0 / 10%);
        left: -1rem;
        right: -1rem;
        top: -1rem;
    }
    .product-block:hover {
        z-index: 1;
    }
}
.product-block__content {
    height: 100%;
    position: relative;
}
.product-block__content:hover {
    cursor: pointer;
}
.product-block__wishlist {
    display: block;
    height: 28px;
    position: absolute;
    width: 28px;
}
.product-block__wishlist::before {
    background: url('../src/assets/img/favorite.svg');
    background-position: 50%;
    background-size: 100%;
    height: 12.1875px;
    height: 16px;
    left: 7px;
    top: 7px;
    width: 15px;
    z-index: 2;
}
.product-block__image {
    height: 21.4rem;
    padding: 3.5rem 0 1.4rem;
    position: relative;
    text-align: center;
}
.product-block__image img {
    max-height: 60%;
    max-width: 100%;
}
.product-block__main-link {
    margin-bottom: 0.7rem;
    display: flex;
    flex-direction: column;
}
.product-block__type {
    display: block;
    font-size: 1.3rem;
    margin-bottom: 0.4rem;
    color: #999;
    text-transform: capitalize;
}
.product-block__name {
    color: #000;
    display: block;
    font-size: 1.6rem;
    line-height: 2.2rem;
    max-height: 4.6rem;
    min-height: 4.4rem;
    overflow: hidden;
    position: relative;
}
.product-block__misc {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}
.product-block__price-block {
    align-items: center;
    display: flex;
    position: relative;
}
.product-block__visible-price {
    font-size: 2.2rem;
    /* margin-right: 1.2rem; */
    color: #e41d94;
    font-weight: 600;
}
.currency {
    font-size: 2.2rem;
    /* margin-right: 1.2rem; */
    color: #e41d94;
    font-weight: 600;
}
.main-btn_buy {
    bottom: -1.5rem;
    height: 3.4rem;
    margin-left: 1rem;
    padding: 0;
    position: absolute;
    right: 0;
    width: 6rem;
}
.main-btn_buy::before {
    border-radius: 8px;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 100%;
    background: #ffc800;
}
.main-btn_buy:hover:before {
    background: #3c1e5a;
}
.main-btn_buy::after {
    content: '';
    display: block;
    left: 48%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url('../src/assets/img/cart.svg');
    background-position: 50%;
    background-size: 100%;
    height: 1.80952rem;
    width: 2rem;
}
.main-btn_buy:hover::after {
    content: '';
    background: url('../src/assets/img/cart-hover.svg');
}
